[Credentials]
username = aldo.strofaldi@gmail.com
password = fijydjgcjhxzvtzm
[SMTP]
server = smtp.gmail.com
port = 587
[Email Config]
subject = Test Email 1
text_content = Hello, this is a test email.
image_url = http://www.globusmagazine.it/_/wp-content/uploads/2013/11/i-want-your-money-e1383818777463.jpg
contact_list = aldo.strofaldi@gmail.com, dazer686@gmail.com

